@font-face {
    font-family: 'BMJUA';
    src: url('../fonts/BMJUA_otf.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
* {
  box-sizing: border-box;
  color: #58595B;
  font-family: 'BMJUA';
}
body{
  background-color: #F0E8D9;
}
.container{
  margin-top: 75px;
}
#title{
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
}
#sub-title{
  font-size: 32px;
  text-align: center;
  margin-bottom: 75px;
}
.card{
  margin: 0px 0px 50px 0px; 
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.card img{
  margin: 0px;
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  vertical-align: top
}
.explain{
  margin: 0px;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}
.explain h1{
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 200;
}
.explain .detail{
  text-align: left;
  font-size: 16px;
  margin-bottom: 16px;
}
.explain .pay{
  text-align: center;
}
.explain a{
  color: #0000EE;
  text-decoration: none;
}
#col1{
  float: left;
  width: 50%;
  padding-right: 15px;
}
#col2{
  float: left;
  width: 50%;
  padding-left: 15px;
}
#cards{
  width: 630px;
  margin: 0px auto;
}